@charset "UTF-8";

body {
	text-align: center;
	background-color: #B1F9D0;
}

.back {
	text-align: center;
	margin: 0 auto;
}

.waku {

   width: 100%;
	margin: 0 auto;
	max-width: 227px;
	color: #220000;
	background-color:white;
}