@charset "UTF-8";

body {
	text-align: center;
	background-color: #B1F9D0;
}

.toukou {
	width: 100%;
	margin: 0 auto;
	max-width: 250px;
	color: #220000;
	background-color:white;
}

.back {
	text-align: center;
	margin: 0 auto;
}

.botan {
    margin-left: 207px;
}